.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: rotate(0deg)
    translate(30px, -30px);}
  to {transform:rotate(45deg)
  translate(20px, 20px)}
}

@keyframes middle {
  from {transform: translateX(0px);
    background:transparent;
  }
  to {transform: translateX(-50px);
    background:transparent;
    transition: 0.2s ease-out;}
}

@keyframes bottom {
  from {transform: rotate(0deg)
    translate(5px, 5px)}
  to {transform: rotate(-45deg)
    translate(25px, -30px)}
}
